@font-face {
    font-family: Caveat;
    src: url(fonts/Caveat.ttf);
}

.containerFlex {
    display: flex;
    flex-direction: column;
}

.barContainerFlex {
    background-color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-top: -1vh;
    margin-left: -0.5vw;
}

.barBottomBorderId {
    width: 105vw;
    height: 0.25vh;
    background-color: black;
    margin-bottom: 0vh;
    margin-left: -0.5vw;
}

.fullBarId {
    position:fixed;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}

p {
    line-height: 4vh;
    width: 48vw;
    padding-top: 0vh;
}



h4 {
    font-size: 1.25vw;
    line-height: 0.1vh;
}

.nameBarFlex {
    margin-left: 5vw;
    width: 55vw;
    font-size: 1.25vw;
    font-family: Caveat;
}

.linkBarFlex {
    width: 37vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 3vw;
    font-size: 1.25vw;
    font-family: Caveat;
}

.introductionContainer {
    width: 100.25vw;
    height: 76vh;
    background-color: rgb(212, 242, 255);
    margin-left: -0.5vw;
    margin-top: 0vh;
}

.textId {
    font-size: 2vw;
    font-family: Caveat;
    font-weight:bold;
    margin-left: 5vw;
    margin-top: 16.5vh;
    line-height: 1vh;
}

.textId h3 {
    padding-top: 5vh;
    font-size: 2.25vw;
}

.projectsContainerId {
    height: 70vh;
    width: 100.25vw;
    background-color: rgb(212, 242, 255);
    margin-left: -0.5vw;
}

.projectsLabelFlex {
    height: 8vh;
    width: 100.25vw;
    background-color: rgb(212, 242, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: Caveat;
}

.projectsDisplayContainerFlex {
    display: flex;
    flex-direction: row;
    height: 45vh;
    width: 100.25vw;
    background-color: rgb(212, 242, 255);
    justify-content: space-around;
    align-items: center;
    
}

.projectOneId {
    height: 40vh;
    width: 25vw;
    background-color: black;
}

.projectTwoId {
    height: 40vh;
    width: 25vw;
    background-color: black;
}

.projectThreeId {
    height: 40vh;
    width: 25vw;
    background-color: black;
}

.arrowsFlex h4 {
    font-size: 2vw;
}

.arrowsFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86vw;
    margin-left: 7vw;
    margin-right: 7vw;
}
